/zach_RR/
/negarPredMaps/
/negarPredMaps2/
/zach_ccs/
/zach_ccs2/
/zach_IR/
/zach_IR_patches/
/zach_RR2/
/patchesOct2012Data.mat
/patchesOct2012Data_partialResults.mat
/patchesOct2012Data_results.mat
/patchesSep2011Data.mat
/patchesSep2011Data_partialResults.mat
/patchesSep2011Data_results.mat
/patchesSep2011Data_time46.mat
/patchesSep2011Data_time7.mat
/patchesOct2012Data_all2.mat
/patchesOct2012Data_all3.mat
/patchesOct2012Data_all4.mat
/patchesSep2011Data_all2.mat
/patchesSep2011Data_all3.mat
/patchesSep2011Data_all4.mat
