/tmp/
/goes/
/radar/
/matFiles/
/patches/
/tc.mat
/ccs/
/boostDecTreeRun.mat
/predYvars.mat
/boostDecTreeRun2.mat
/tc_NickDecTreeRun.mat
/tc_testRunOtherValues.mat
/tc_testRunJValues2.mat
/tc_testRunJValues.mat
/tc_J128result.mat
/tc_jValsTimeTest_current.mat
/matFilesBad/
/tc_J4result.mat
/tc_J32result.mat
/tc_NickDecTreeResult_J128rf10.mat
/tc_NickDecTreeResult_J128rf8.mat
/tc_NickDecTreeResult_J128rf9.mat
/tc_NickDecTreeResult_J256rf10.mat
/tc_NickDecTreeResult_J256rf8.mat
/tc_NickDecTreeResult_J256rf9.mat
