/tmp/
/goes/
/radar/
/matFiles/
/patches/
/tc.mat
/ccs/
/boostDecTreeRun.mat
/predYvars.mat
/boostDecTreeRun2.mat
/tc_NickDecTreeRun.mat
/tc_testRunOtherValues.mat
/tc_testRunJValues2.mat
/tc_testRunJValues.mat
/tc_J128result.mat
/tc_jValsTimeTest_current.mat
/matFilesBad/
/tc_J4result.mat
/tc_J32result.mat
/tc_NickDecTreeResult_J128rf10.mat
/tc_NickDecTreeResult_J128rf8.mat
/tc_NickDecTreeResult_J128rf9.mat
/tc_NickDecTreeResult_J256rf10.mat
/tc_NickDecTreeResult_J256rf8.mat
/tc_NickDecTreeResult_J256rf9.mat
/tc_NickDecTreeResult_J16rf6.mat
/tc_NickDecTreeResult_J16rf7.mat
/tc_NickDecTreeResult_J16rf8.mat
/tc_NickDecTreeResult_J32rf6.mat
/tc_NickDecTreeResult_J32rf7.mat
/tc_NickDecTreeResult_J32rf8.mat
/tc_NickDecTreeResult_J64rf6.mat
/tc_NickDecTreeResult_J64rf7.mat
/tc_NickDecTreeResult_J64rf8.mat
/tc_negar_nickJ128rf8_dataForTest.mat
/zach_IR/
/zach_RR/
/tc_NickJ128rf8_iter1.mat
/tc_NickJ128rf8_iter10.mat
/tc_NickJ128rf8_iter100.mat
/tc_NickJ128rf8_iter1000.mat
/tc_NickJ128rf8_iter120.mat
/tc_NickJ128rf8_iter130.mat
/tc_NickJ128rf8_iter133.mat
/tc_NickJ128rf8_iter140.mat
/tc_NickJ128rf8_iter150.mat
/tc_NickJ128rf8_iter160.mat
/tc_NickJ128rf8_iter2.mat
/tc_NickJ128rf8_iter20.mat
/tc_NickJ128rf8_iter200.mat
/tc_NickJ128rf8_iter5.mat
/tc_NickJ128rf8_iter50.mat
/tc_NickJ128rf8_iter500.mat
/tc_NickJ128rf8_iter700.mat
/tc_NickJ128rf8_iter800.mat
/zach_ccs/
/oct2012TestDataSet.mat
/oct2012TestDataSetAll.mat
/zach_RR2/
/zach_ccs2/
/zach_IR2/
/zach_IR2_patches/
/zach_IR_patches/
/tc_NickJ128rf8_iter1000_treeOnly.mat
/tc_NickJ128rf8_iter100_treeOnly.mat
/tc_NickJ128rf8_iter10_treeOnly.mat
/tc_NickJ128rf8_iter120_treeOnly.mat
/tc_NickJ128rf8_iter130_treeOnly.mat
/tc_NickJ128rf8_iter133_treeOnly.mat
/tc_NickJ128rf8_iter140_treeOnly.mat
/tc_NickJ128rf8_iter150_treeOnly.mat
/tc_NickJ128rf8_iter160_treeOnly.mat
/tc_NickJ128rf8_iter1_treeOnly.mat
/tc_NickJ128rf8_iter200_treeOnly.mat
/tc_NickJ128rf8_iter20_treeOnly.mat
/tc_NickJ128rf8_iter2_treeOnly.mat
/tc_NickJ128rf8_iter500_treeOnly.mat
/tc_NickJ128rf8_iter50_treeOnly.mat
/tc_NickJ128rf8_iter5_treeOnly.mat
/tc_NickJ128rf8_iter600_treeOnly.mat
/tc_NickJ128rf8_iter700_treeOnly.mat
/tc_NickJ128rf8_iter800_treeOnly.mat
